.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Navbar */
.nav-icon {
  margin-right: 10px;
  color: orange;
}

a:link {
  text-decoration: none;
}

/* D&D */
.init-hero {
  background-color: #084298 !important;
}

.init-villain {
  background-color: #842029 !important;
}

.init-custom {
  background-color: #495057 !important;
}

/* D&D Teams */
.organism-input {
  width: 125px;
}

.skillcheck-input {
  width: 200px;
}

.skillcheck-number-input {
  width: 80px;
}

.init-team-1 {
  background-color: #1864ab !important;
}

.init-team-2 {
  background-color: #862e9c !important;
}

.init-team-3 {
  background-color: #c92a2a !important;
}

.init-team-4 {
  background-color: #e67700 !important;
}

.init-team-5 {
  background-color: #087f5b !important;
}

.init-team-6 {
  background-color: #5c940d !important;
}

.text-team-1 {
  background-color: #1864ab !important;
}

.text-team-2 {
  background-color: #862e9c !important;
}

.text-team-3 {
  background-color: #c92a2a !important;
}

.text-team-4 {
  background-color: #e67700 !important;
}

.text-team-5 {
  background-color: #087f5b !important;
}

.text-team-6 {
  background-color: #5c940d !important;
}

.marked {
  border: 3px solid #c1c2c5 !important;
}

/* Space Pickle */
.organism-input {
  width: 125px;
}

.init-light-organism {
  background-color: #084298 !important;
}

.init-dark-organism {
  background-color: #842029 !important;
}

/* Skill Checks */
.skillCheckResult {
  width: 35px;
}
