.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Navbar */
.nav-icon {
  margin-right: 10px;
  color: orange;
}

a:link {
  text-decoration: none;
}

/* D&D */
.init-hero {
  background-color: #084298 !important;
}

.init-villain {
  background-color: #842029 !important;
}

.init-custom {
  background-color: #495057 !important;
}

/* Space Pickle */
.organism-input {
  width: 125px;
}

.init-light-organism {
  background-color: #084298 !important;
}

.init-dark-organism {
  background-color: #842029 !important;
}