.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.init-light-organism {
  background-color: #084298 !important;
}

.init-dark-organism {
  background-color: #842029 !important;
}
